* {
    box-sizing:border-box;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box {
    width: 33%;
    height: 400px;
    border: 2px solid black;
    font-size: 32px;
    padding: 20px;
}
.box1 {
    background-color: turquoise;
}
.box2 {
    background-color: cornsilk;
}
.box3 {
    background-color: lightgreen;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.desktop {
    height: 500px;
    padding: 20px;
    background-color: seashell;
}

.mobile {
    height: 200px;
    padding: 20px;
    background-color: lightpink;
    display: none;
}

@media screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }
    .box {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    body {
        background-color: tomato;
    }
}
@media screen and (min-width: 900px) 
        and (max-width: 1100px) 
{
    body {
        background-color: hotpink;
    }
}
@media screen and (min-width: 1200px) {
    body {
        background-color: darkgoldenrod;
    }
}
@media screen and (max-width: 800px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}