* {
    box-sizing: border-box;
}

.gradient {
    border: 2px solid black; 
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,12,117,1) 50%);
    
    align-items: center;
    justify-content: center;
    height: 500px;
}

.flex {
    display: flex;
}
.container {
    width: 60%;
    height: 80%;
    border: 1px solid black;
    background-color: white;
}
.left,
.right {
    width: 50%;
    padding: 30px;
}

.left {
    background-image: url(https://placeimg.com/640/480/arch);
}

.radial-gradient {
    background: 
    radial-gradient(
        circle, 
        rgba(255,255,255,1) 35%,
        rgba(255,63,63,1) 69%, 
        rgba(0,164,255,1) 93%
    );
    height: 500px;
    width: 500px;
}

body {
    margin: 0;
}

nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    box-shadow: -1px -4px 34px 0px 
        rgba(0,0,0,0.61);

    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    text-decoration: underline;
}

.searchbox {
    margin-left: auto;
}

.searchbox input{
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.banner {
    background-image: url(https://images.unsplash.com/photo-1656004517126-6e81a181f459?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);

    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    text-shadow: 3px 4px 15px rgba(0,0,0,0.85);
    margin: 0;
}